{% extends "base.html" %}
{% block title %}{{ block.super }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div id="main" class="row">
    <div class="twelve columns">
        <h2>Create a phone number to <a>sign-in</a> guests</h2>
        <blockquote>
            <li><h5 style="margin-top: 0">No more paper sign-in sheets</h5></li>
            <li><h5>Less waiting on slow line</h5></li>
            <li><h5>More awesome and cats</h5></li>

            <p>Just built today for the Activities Fair! Please email Kevin at <a href="mailto:kevinx@stanford.edu?Subject=Textmemaybe" target="_blank">kevinx@stanford.edu</a> and let him know what you think!</p>
        </blockquote>

        <br/>
        <h5>Gratuitious picture of cats</h5>
        <img src="http://placekitten.com/1000/500" alt="">


        <!-- {% if not user.is_authenticated %}
            <img src="http://placekitten.com/1000/500" alt="">
        {% else %}
            <h1>Welcome {{ user.first_name }} :)</h1>

            <h3>Have everyone text the number with their Name followed by Email</h3>

            <br/><br/>

            <h1>AACF <span style="color: purple">(646) 490-0572</span></h1>

            <br/><br/>

            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Time Sent</th>
                </tr>
                {% for m in messages %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ m.name }}</td>
                        <td>{{ m.email }}</td>
                        <td>{{ m.from_ }}</td>
                        <td>{{ m.date_sent }}</td>
                    </tr>
                {% endfor %}
            </table>

            <br/><br/>

            <h1>World Vision <span style="color: purple">(646) 480-6507</span></h1>
            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Time Sent</th>
                </tr>
                {% for m in messages2 %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ m.name }}</td>
                        <td>{{ m.email }}</td>
                        <td>{{ m.from_ }}</td>
                        <td>{{ m.date_sent }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %} -->
    </div>
</div>

{% endblock %}

{% block javascript %}{% endblock %}
