{% extends "base.html" %}
{% block title %}Log In - {{ block.super }}{% endblock %}
{% block content %}

<div id="login" class="row">
    <div class="five columns centered">
        <h2>Welcome</h2>

        <form action="{% url login %}" method="post">{% csrf_token %}

            <li>
                <label for="id_username">Email:</label> <input id="id_username" type="text" name="username" maxlength="30">
            </li>
            <li>
                <label for="id_password">Password:</label> <input type="password" name="password" id="id_password">
            </li>
            <input class="success button" type="submit" value="Log In" />

        </form>

    </div>
</div>

{% endblock %}