{% extends "base.html" %}
{% block title %}{{ block.super }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div id="profile" class="row">
    <div class="twelve columns">

        <div class="panel">
            <h3 class="fl">Welcome {{ user.email }}</h3>

            {% if not number %}
                <a href="#" class="large success button fr" data-reveal-id="numberModal">Create your number</a>
            {% endif %}

            <div class="clear"></div>

            <ol style="margin-left: 20px;">
                <li>Create your number</li>
                <li>Have people text their name and email to number</li>
                <li>?????</li>
                <li>Be awesome, true story</li>
            </ol>
        </div>

        {% if number %}
            <h3 style="margin-top: 50px;">{{ number.name }} Signups - <a>{{ friendly_number }}</a></h3>

            {% if messages %}
                <table>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Time Sent</th>
                    </tr>
                    {% for m in messages %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ m.name }}</td>
                            <td>{{ m.email }}</td>
                            <td>{{ m.friendly_from_number }}</td>
                            <td>{{ m.created_at }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

        {% endif %}


    </div>
</div>



<div id="numberModal" class="reveal-modal">
    <h2>Final step</h2>

    <form action="{% url create %}" method="post">{% csrf_token %}

        <label for="name">Group Name:</label> <input id="name" type="text" name="name" maxlength="30">
        <label for="message">Message:</label> <textarea type="message" name="message" id="message">Thanks for coming to see </textarea>
        <input class="success button" type="submit" value="Create" />

    </form>

    <a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}

{% block javascript %}{% endblock %}